@page "/login"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<h3>Login</h3>

<div class="form-group">
    <label>
        User Name
    </label>
    <input type="text" class="form-control" @bind="UserName" />
</div>

<div class="form-group">
    <label>
        Password
    </label>
    <input type="password" @bind="Password" class="form-control" />

</div>

<button @onclick="Signin" class="btn btn-primary"> Login </button>

@code {
    private string UserName { get; set; }
    private string Password { get; set; }


    public async void Signin()
    {
        var postBody = new { UserName = UserName, Password = Password };
        var result = await Http.PostAsJsonAsync("http://localhost:62744/api/auth/login", postBody);
        var content = await result.Content.ReadFromJsonAsync<UserDto>();

        if (content != null )
        {
            await sessionStorage.SetItemAsync("data", content);
            NavigationManager.NavigateTo("/");
        }
    }
}
